{% extends "base.html.jinja" %} 

{%block title%}
mesa {{id}}
{%endblock%}

{%block head%}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
{%endblock%}

{% block content %}


<div class="grid-container">
    <div class="grid-item info-box">
        <h4>INFO</h4>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %} 
                    <h4>{{msg}}</h4>
                {% endfor %} 
            {%endif%} 
        {%endwith%}
    </div>
    <div class="grid-item info-box">
        <h4>INFO</h4>
        {{core.info}}
    </div>
    <div class="grid-item board-item">
        <h4>Playing as {{actual_player}}</h4>
        <table class="board_outer">
            {% set y = []%}
            {% set x = []%}    
            {%for i in board%}
                {%if y == []%}
                    <tr class="field-row">
                        <td class="field-header">X</td>
                        {%for a in range(15)%}
                            <td class="field-header">{{a+1}}</td>
                        {%endfor%}
                    </tr>
                {%endif%}


                <tr class="field-row">
                    <td class="field-header">{{"ABCDEFGHIJKLMNO"[y|length]}}</td>
                
                {% if y|length < 15 %}
                    {% set __ = y.append(1)%}
                {% endif %}

                {% set x = []%}
                {%for j in i%}
                    {% set field_class = "field-" + bonuses[y|length -1][x|length] %}
                    <td class={{field_class}}>{{j}}</td>

                    {% if x|length < 14 %}
                        {% set __ = x.append(1)%}
                    {% endif %}
                {%endfor%}
                </tr>
            {%endfor%}
        </table>
    </div>
    <div class="grid-item info-debug">
        {%for player in core.player%} 
            <table class="table-attrs">
                {%for item in player.__dict__%}
                    <tr class="table-attrs-row">
                        <td class="table-attrs-key">{{item}}</td>
                        <td class="table-attrs-value">{{player.__dict__[item]}}</td>
                    </tr>
                {%endfor%}
            </table>
            <br>
        {%endfor%}

        <table>
            {%for k in vars_dict%} 
                <tr class="table-attrs-row">
                    <td class="table-attrs-key">{{k}}</td>
                    <td class="table-attrs-value">{{vars_dict[k]}}</td>
                </tr>
            {%endfor%}
        </table>
    </div>


    <div class="grid-item">
        <form method="post">
            <br>
            <p><label for="move">Write your move: {word} {a-o 1-15} {h | v}</label><br>
            <input type="text" name="move"/>
            <input type="submit" value="move"/>
            <input type="submit" name="exit" value="exit"/></p></p>
        </form>
        {# <form method="post">
            
        </form> #}
    </div>
</div>

{% endblock %}


