{% extends "base.html" %} 

{%block title%}
the blanks project index
{%endblock%}


{% block content %}

{%for k in vars_dict%} 
    <div>{{k}}: {{vars_dict[k]}}</div>
{%endfor%}
<div></div>
<h1>{{content}}</h1>
    <table class="board_outer">
        {%for i in board%}
            <tr class="board_cell">
                {%for j in i%}
                {%if j == 0%}
                {%endif%}
                <td class="board_cell">{{j}}</td>
                {%endfor%}
            </tr>
        {%endfor%}
    </table>
{% endblock %}


