html {
    --beige: #faf0dc;
    --green: #0b4141;
    --salmon: #ff6864;
    --marine: #2d235f;
    font-family: Arial;
}

body {
    background-color: var(--beige);
}
/*MESA GRID*/

.board_item {
    background-color: unset;
    grid-column: 1;
}

.outer-container{
    margin-left: 10%;
    margin-right: 10%;
}
.grid-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 850px 200px;
    grid-template-rows: 850px auto;
}

.grid-container-info{
    display:grid;
    max-width: 200px;
    grid-template-rows: auto auto auto auto;
}
.grid-container-score{
    display:grid;
}
.grid-container-score-inner{
    display:grid;
}
.grid-item-score {
    text-align: center;
}
.grid-container-mesas {
    display: grid;
}
.grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    color: var(--marine)

}




/*INFO SECTION*/
[class*="info-"] {
    border-left: 2px solid var(--beige);
    border-right: 2px solid var(--beige);
    font-size: 16px;
    text-align: center;
    background-color: var(--green);
    color: var(--beige);
    padding: 12px;


}

/*mesa*/
.info-player_turn {
    grid-column: 1;
    grid-row: 1;
}
.info-core {
    grid-column:1;
    grid-row: 2;
}
.info-flash {
    grid-column: 1;
    grid-row: 3;
}
.info-player{
    grid-column: 1;
    grid-row: 4;
}
.info-score {
    grid-column: 1;
    grid-row: 5;

}

.info-box {
    
    grid-column: 2;
    grid-row: 1;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 28px;
    width: 200px;
}

.info-box-lobby {
    
    grid-column: 2;
    grid-row: 1;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 28px;
    width: 200px;
    
}


.info-debug {
    grid-column: 3;
    color: var(--marine);
    grid-row: 1;
}

/*lobby*/

.info-lobby {
    grid-column: 1;
    grid-row: 1;

}

.info-form-lobby{
    border-top: 2px solid var(--beige);
}

/* INPUT */

.input-box{
    grid-column: 1 span / 2;
    grid-row: 2;
}

[class*="button-"] {
    border: 1px solid black;
    margin: 10px;
    font-size: 18px;
    text-align: center;
    background-color: var(--green);
    color: var(--beige);
    padding: 12px;
    border-radius: 4px;
    transition-duration: 0.4s;
    font-style: oblique;
}

.button-exit:hover{
    background-color: red;
    color: var(--beige);
}
.button-submit:hover{
    background-color: var(--beige);
    color: var(--green);
}
/*LOBBY*/
.lobby-grid{
    grid-column: 1;
    grid-row: 1;
    background-color: var(--green);

}
.lobby-header{
    text-align: left;
    font-style: italic;
}
.lobby-items{
    text-align: left;
    grid-column: 1;
    background-color: var(--beige);
}

input[type=text] {
    border: 1px solid black;
    background-color: var(--beige);
    color: var(--marine);
    border-radius: 2px;
    font-style: italic;
    background-color: lightyellow;

}
input[type=text]:focus{
    border: 1px solid black;
    transition-duration: 0.4s;
    background-color: var(--green);
    color: var(--beige);
    font-style: italic;
}



/*TABLE SECTION*/
[class*="table-"] {
    border: 1px solid black;
    font-size: 14px;
    text-align: center;
    background-color: cornsilk;
}

.table-attrs-key {
    width: 110px;
    height: 20px;
}
.table-attrs-value {
    width: 370px;
    height: 20px;
    text-align: left;
}

/*BOARD SECTION*/
.board_outer {
    border: 2px solid black;
    table-layout: fixed;
}

/*class FIELD*/
[class*="field-"] {
    border: 1px solid darkgrey;
    width: 50px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    color: var(--beige);
    font-style:italic ;
    overflow: hidden;
}
.field-row {
    font-size: 15px;
}

.field-header {
    font-size: 16px;
    width: 50px;
    height: 50px;
    border: 1px solid darkgrey;
    text-align: center;
    background-color: var(--green);

}
/*BONUSES*/
.field-NM {
    background-color: rgb(39, 126, 90);
}
.field-DL {
    background-color: deepskyblue;
}
.field-TL {
    background-color: darkslateblue;
}
.field-DW {
    background-color: lightcoral;
}
.field-TW {
    background-color: darkred;
}

/*BUTTON MULTI INTER*/
